<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags for character encoding, viewport, and compatibility -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Page</title>
</head>

<body>
  <app-navbar></app-navbar>
  <!-- Main Content Section -->
<main class="container">
<!-- <app-home></app-home> -->
<!-- <app-products></app-products> -->
<!-- <app-product-form></app-product-form> -->
 <!-- <app-product-view></app-product-view> -->
  <!-- <app-not-found></app-not-found> -->
   <!-- <app-product-edit></app-product-edit> -->
    <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
</body>

</html>